@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Oswald:wght@700&display=swap');


$color1: #F5F0BB;
$color2: #333;

.navbar-brand{
    color: $color2;
    font-family: Arial, Helvetica, sans-serif;

}
.jumbotron{
    background-image: url(/multimedia/chaleco.jpg);
    background-size: cover; 
    color: $color1;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 300px;
}
.nosotros{
    height: 550px;
    background-color: $color1;
}
h2{
    background-color: $color1 ;
    text-align: center;
    color: $color2;
    padding: 50px;
    margin: 0;  
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
}
.ad{
    background-image: url(/multimedia/tejido.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.ai{
    padding: 30px;
    text-align: center;
    background-color: $color1;
    color: $color2;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;


}
.inicia{
    background-color: $color1;
    text-align: center;
    margin: 0;
}
.id{
    background-image: url(/multimedia/cardigan.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100vh;
}
.ie{
    background-image: url(/multimedia/woman-2563491_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;

}
.ii{
    background-color: $color1;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 50%;
    padding: 50px;
    position: relative;
}
.btn-primary{
    background-color: $color1;
    color: $color2;
    border-color: $color2;
}
.btn-primary:hover{
    background-color: gray;
    border-color: $color2;
}

.row{
    margin: 0;
}
.row2{
    min-height: calc(100vh - 100px - 270px);

}
.card-body{
    background-color: $color1;
    margin: 0;  
}
footer{
    height: auto;
    background-color: $color1;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    border-top-style: solid;
    padding: 50px 0px 50px 0px;
    position: static;
}
.cs{
    height: 800px;
    background-color: $color1;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-size: 50px;
}
.carousel-inner{
    height: 600px;
    max-width: 100%;

}




